.background {
  // set absolute pos
  position: absolute;

  // size
  width: 100%;
  height: 100%;

  // color
  background-color: bisque;
}

.main {
  // flexbox
  display: flex;
  flex-direction: column;
  align-items: center;

  // center div
  // size of div
  width: 80%;
  height: 90%;

  // div positioning stuff
  margin: 5% auto;

  // color of div
  background-color: aquamarine;
}